<!DOCTYPE html>
  <html>
    <head>
      <title>Adigami</title>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="../../css/materialize.min.css">
      <link rel="stylesheet" href="../../css/landing.css">
      <script src="../../js/materialize.min.js"></script>
      <!-- PRICING CSS -->
      <link type="text/css" rel="stylesheet" href="../../css/pricing.css"  media="screen"/>
      <!-- Import icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <style>
      .input-field label {
  color: white !important;
}
   /* label focus color */
.input-field input[type=text]:focus + label {
  color: white !important;
}
   /* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
   /* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
   /* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}
   /* icon prefix focus color */
.input-field .prefix.active {
  color: white !important;
}

      </style>
    </head>

    <body class="white">
      <nav class="fixed_nav">
        <div class="nav-wrapper nav_logo">
          <img src="../../img/adigami-icon.ico">
           <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#features">FEATURES</a></li>
            <li><a href="#dashboard">DASHBOARD</a></li>
            <li><a href="#integration">INTEGRATION</a></li>
            <li><a href="#pricing">PRICING</a></li>
            <li><a href="login.html">LOGIN</a></li>
          </ul>
        </div>
      </nav>

      <!--landing page div-->
     <div>
         <img class="hero-page-image responsive-img z-depth-2" src="../../img/landing.png"></img>
     </div>
    <!--integration-->
    <div id="features" class="section">
      <div class="container" style="margin-top: 30px">
        <div class="row">
          <br>
           <span class="center-align grey-text"><h2>Data from anywhere</h2></span>
           <!--   Icon Section   -->
           <div class="row">
             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center light-blue-text"><img src="../../img/channel_blue.png" class = "contact_icon"></h2>
                 <h5 class="center grey-text">All Data Channels</h5>
                 <p class="light grey-text">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
               </div>
             </div>

             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center light-blue-text"><img src="../../img/bar_blue.png" class = "contact_icon"></h2>
                 <h5 class="center grey-text">Custom Dashboards</h5>

                 <p class="light grey-text">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
               </div>
             </div>

             <div class="col s12 m4">
               <div class="icon-block">
                 <h2 class="center light-blue-text"><img src="../../img/api_blue.png" class = "contact_icon"></h2>
                 <h5 class="center grey-text">API Access</h5>

                 <p class="light grey-text">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>

  <div id="dashboard" class="section" style="background-color:#f6f6f6;">
    <div class="container" style="margin-top:64px; background-color:#f6f6f6">
      <div id="dashboard">
          <span class="center-align grey-text"><h2>Dashboard Gallery</h2></span>
          <br>
          <div class="carousel carousel-slider center z-depth-2" data-indicators="true">
            <a class="carousel-item" href="#one!"><img src="../../img/dashboard_1.png"></a>
            <a class="carousel-item" href="#two!"><img src="../../img/dashboard_2.png"></a>
            <a class="carousel-item" href="#three!"><img src="../../img/dashboard_3.png"></a>
            <a class="carousel-item" href="#four!"><img src="../../img/dashboard_4.png"></a>
            <a class="carousel-item" href="#five!"><img src="../../img/dashboard_1.png"></a>
          </div>
      </div>
      <div class="break"></div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <span class="center-align grey-text"><h2>Online WebApp</h2></span>
      <br>

      <div class="row">
        <div class="col s12 m6">
          <img class="materialboxed responsive-img z-depth-2" data-caption="User Setting Page" src="../../img/s1.png">
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col s12 m6">
              <img class="materialboxed responsive-img z-depth-2" data-caption="Create Your Connections" src="../../img/s2.png">
            </div>
            <div class="col s12 m6">
              <img class="materialboxed responsive-img z-depth-2" data-caption="View Your Data Dashboard" src="../../img/s3.png">
            </div>
          </div>
          <div class="row">
            <div class="col s12 m6">
              <img class="materialboxed responsive-img z-depth-2" data-caption="User Setting Page" src="../../img/s1.png">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <p class="grey-text center-align">Want to try? We are here to be your data manager. We are here to give you the best idea of your next step publicizing.<br><br><a class="btn waves-effect waves-light center" href="#login" style="background-color:#f3989b">Register Now</a></p>
      </div>
    </div>
  </div>


  <div id="integration" class="section" style="background-color:rgb(238, 110, 115)">
    <div class="container" style="margin-top:64px; background-color:rgb(238, 110, 115)">
      <div id="integration" class="row">
        <span class="center-align white-text"><h2>Integration made easy</h2></span>
         <div class="col s4"><img src="../../img/bingads.png" class = "integration_icon"></div>
         <div class="col s4"><img src="../../img/double-click.png" class = "integration_icon"></div>
         <div class="col s4"><img src="../../img/googleads.png" class = "integration_icon"></div>
      </div>
      <p class="white-text center-align">We have a lot more integrations and if you need a special data source<br><br><a class="btn waves-effect waves-light center" href="#contact" style="background-color:#f3989b">Tell Us
                    </a></p>
      <div class="break"></div>
    </div>
  </div>

  <div id="pricing" class="section" style="background-color:#f6f6f6">
   <div class="container" style="margin-top:64px; background-color:#f6f6f6">
      <span class="center-align grey-text"><h2>Find a plan that's right for you.</h2></span>
      <div class="row">
          <div class="col s12 m4">


              <div class="card pricing style-2">
                  <div class="plan-title waves-effect waves-block waves-light" style="background-color:rgb(238, 110, 115)">
                      <h5 class="white-text">
                          <span class="plan">STARTER</span>
                      </h5>
                  </div>
                  <div class="price waves-effect waves-block waves-light" style="background-color:#f3989b">
                      <h4 class="white-text">
                          <span class="currency">$</span>
                          <span class="amount">99</span>
                          <span class="period">/mo</span>
                      </h4>
                  </div>

                  <div class="card-content">

                      <!-- START FEATURE LIST -->
                      <ul>
                        <li class="grey-text center"><b style="color:#f3989b"> 3 </b><span class="grey-text">Connections</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> 12 </b><span class="grey-text">Months Data</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> CSV </b><span class="grey-text">Reports</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> Standard </b> <span class="grey-text">Support</span></li>
                        <br>
                      </ul>
                      <!-- END FEATURE LIST -->

                      <!-- START SIGN UP BUTTON -->
                      <div class="plan-signup-btn">
                          <a id="start-now-plus" class="btn waves-effect waves-block waves-light no-margin white-text" href="#contact" style="background-color:#f3989b"><span class="white-text">Try It Now</span></a>
                      </div>
                      <!-- END SIGN UP BUTTON -->

                  </div>
              </div>
              <!-- END PRICING PLAN -->
          </div>

          <!-- MATERIALIZE CSS USES 12 COLUMN GRID SYSTEM, DETAILS http://materializecss.com/grid.html -->
          <div class="col s12 m4">

              <!-- START PRICING PLAN -->
              <div class="card pricing style-2">

                  <!-- START PLAN TITLE DIV. -->
                  <!-- CHANGE COLOR BY CHANGING LAST CSS CLASS (teal) AVAILABLE COLOR CLASSES LISTED HERE http://materializecss.com/color.html -->
                  <div class="plan-title waves-effect waves-block waves-light" style="background-color:rgb(238, 110, 115)">
                      <h5 class="white-text">
                          <span class="plan">AGENCY</span>
                      </h5>
                  </div>
                  <!-- END PLAN TITLE DIV. -->

                  <!-- START PRICE INFO DIV. -->
                  <div class="price waves-effect waves-block waves-light" style="background-color:#f3989b">
                      <h4 class="white-text">
                          <span class="currency">$</span>
                          <span class="amount">249</span>
                          <span class="period">/mo</span>
                      </h4>
                  </div>
                  <!-- END PRICE INFO DIV. -->

                  <div class="card-content">

                      <!-- START FEATURE LIST -->
                      <ul>
                          <!-- USE FOLLOWING LIST ITEM AS EXAMPLE TO ADD TOOLTIP IN FEATURE -->
                        <li class="grey-text center"><b style="color:#f3989b"> 5 </b><span class="grey-text">Connections</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> 24 </b><span class="grey-text">Months Data</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> CSV </b><span class="grey-text">Reports</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b">Standard</b><span class="grey-text">Support</span></li>
                        <br>
                      </ul>
                      <!-- END FEATURE LIST -->

                      <!-- START SIGN UP BUTTON -->
                      <div class="plan-signup-btn">
                          <a id="start-now-starter" class="btn waves-effect waves-block waves-light no-margin white-text" href="#contact" style="background-color:#f3989b">waitlist</a>
                      </div>
                      <!-- END SIGN UP BUTTON -->

                  </div>
              </div>
              <!-- END PRICING PLAN -->
          </div>

          <div class="col s12 m4">

              <!-- START PRICING PLAN -->
              <div class="card pricing style-2">

                  <!-- START PLAN TITLE DIV. -->
                  <div class="plan-title waves-effect waves-block waves-light" style="background-color:rgb(238, 110, 115)">
                      <h5 class="white-text">
                          <span class="currency"></span>
                          <span class="plan">ENTERPRISE</span>
                          <span class="period"></span>
                      </h5>
                  </div>
                  <!-- END PLAN TITLE DIV. -->

                  <!-- START PRICE INFO DIV. -->
                  <div class="price waves-effect waves-block waves-light" style="background-color:#f3989b">
                      <h4 class="white-text">
                          <span class="currency">$</span>
                          <span class="amount">CUSTOM</span>
                          <span class="period">/mo</span>
                      </h4>
                  </div>
                  <!-- END PRICE INFO DIV. -->

                  <div class="card-content">

                      <!-- START FEATURE LIST -->
                      <ul>
                        <li class="grey-text center"><b style="color:#f3989b"> Unlimited </b><span class="grey-text">Connections</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> Unlimited </b><span class="grey-text">Months Data</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> Custom </b><span class="grey-text">Reports</span></li>
                        <br>
                        <li class="grey-text center"><b style="color:#f3989b"> Priority</b><span class="grey-text">Support</span></li>
                        <br>
                      </ul>
                      <!-- END FEATURE LIST -->

                      <!-- START SIGN UP BUTTON -->
                      <div class="plan-signup-btn">
                          <a id="start-now-premium" class="btn waves-effect waves-block waves-light no-margin white-text" href="#contact" style="background-color:#f3989b">Get In Touch</a>
                      </div>
                      <!-- END SIGN UP BUTTON -->

                  </div>
              </div>
              <!-- END PRICING PLAN -->
          </div>
      </div>
    </div>
      <div class="break"></div>
  </div>

      <!--footer-->
        <footer id="contact" class="page-footer">
          <div class="container">
            <div class="row">

              <div class="col s12 l6">
                <h4 class="grey-text text-lighten-4">Get In Touch</h4>
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix white-text">Name</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix white-text">Email</label>
                  </div>
                  <div class="input-field col s12">
                    <i class="material-icons prefix">message</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix white-text">Message</label>
                  </div>
                  <div class="col offset-s7 s5">
                    <button class="btn waves-effect waves-light right" type="submit" name="action" style="background-color:#f3989b">Submit
                    <i class="material-icons right">send</i></button>
                  </div>
                </div>
              </div>

              <div class="col offset-12 l4 s12 right" style="text-align:right">
                <h4 class="grey-text text-lighten-4">Contact</h4>
                <ul>
                  <li>
                    <span class="white-text">Adigami, Inc<br>260 Newport Center Dr, Irvine, CA 92603</span>
                  </li>
              </div>
            </div>
          </div>

          <div class="footer-copyright">
            <div class="container">
            <p class="grey-text text-lighten-4 center">@Copyright 2008-2018 Adigami, Inc.</p> 
            </div>
          </div>
        </footer>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="../../js/materialize.min.js"></script>
      <script src="../../js/init.js"></script>
      <script src="../../js/nav.js"></script>

    </body>
  </html>
